*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center;*/
  min-height: 100vh;
  color: #192a51;
  align-items: center;
  background-color: #f5f3f4;
}


.navbarmaindiv {
  /* border: 1px solid black; */
  width: 100%;
  height: 8vh;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(109, 66, 140, 0.682);
}

.navicon {
  height: 90%;
  position: absolute;
  left: 6%;
}

.navtitle {
  position: absolute;
  left: 10%;
  /* font-family: 'Lugrasimo', cursive; */
  font-family: 'Tektur', cursive;
}


.albumformmain{
  height: 18vh;
  width: 50%;
  padding: 0px 20px;
  padding-top: 10px ;
  margin: 40px 10px ;
  text-align: left;
  border-radius: 20px;
  background-color: #d3d3d3;
  box-shadow: 2px 2px 9px -1px grey;
}

.albumformheading{
  margin: 5px 0px 0px 10px  ;
  font-size: 24px;
}


.inputNbuttons{
  margin-top: 10px;
  width: 100%;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.albumname{
  width: 60%;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 18px;
  border: none;
  background-color: #f5f3f4;
  outline: none;
}


.clearbutton:hover , .createbutton:hover {
  transform: translatey(1px)
}

.createbutton , .clearbutton{
  color: white;
  border: none;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #a5f92f;
  padding: 0px 20px ;
  box-shadow: 2px 2px 9px -1px grey;
  border-radius: 10px;
}
.clearbutton{
  background-color: #e5383b;
}

.albumlistmain{
  min-height: 60vh;
  /* border: 1px solid red; */
  width: 65%;
  padding: 10px 30px;
}

.listbuttons{
  position: relative;
  display: flex;
}

.listbuttons h2{
  font-size: x-large;
  position: absolute;
  left: 4%;
}

.addalbum , .cancelbutton {
  position: absolute;
  left: 80%;
  color: white;
  border: none;
  height: 35px;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 20px ;
  box-shadow: 2px 2px 9px -1px grey;
  border-radius: 10px;
}

.addalbum:hover , .cancelbutton:hover{
  transform: translatey(1px);
}


.addalbum{
  background-color: #a5f92f;
}

.cancelbutton{
  background-color: #e5383b;
}

.albumlist{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.albums{
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-width: 200px;
  min-height: 140px ;
  border-radius: 10px;
  display: flex;
  margin: 5px 10px;
  background-color: #d3d3d3;
  transition: all 0.5s ;
}

.albums:hover{
  transition: all 0.5s ;
  background-color: #00bbf9;
}

.albums div{
  margin-top: 5px;
  border-radius: 10px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  background-color: #f5f3f4;
}
.albumicon{
  height: 50px;
}

.imagelistmain{
  box-sizing: border-box;
  min-height: 90vh;
  width: 70%;
  /* background-color: white; */
  
}

.imagelistheading{
  display: flex;
  /* border: 1px solid rosybrown; */
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 70px;
}

.imagelistheading h2{
  position: absolute;
  left: 10%;
}

.searchbutton{
  height: 30px;
  position: absolute;
  right: 16%;
}

.backbutton{
  height: 45px;
  -webkit-filter: drop-shadow(2px 2px 9px -1px grey);
  filter: dropShadow(22px 22px 29px 31px grey);
  position: absolute;
  left: 1%;
}

.addimagebutton , .cancelimagebutton {
  color: white;
  border: none;
  height: 35px;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 20px ;
  box-shadow: 2px 2px 9px -1px grey;
  border-radius: 10px;
  position: absolute;
  right: 0%;
  background-color: #a5f92f;
}

.cancelimagebutton{
  background-color: #e5383b;
}

.addimagebutton:hover , .cancelimagebutton:hover {
  transform: translatey(1px);
}

.searchbar{
  position: absolute;
  left: 52%;
  border-radius: 10px;
  height: 27px;
  width: 220px;
  padding: 5px 10px;
  font-size: 18px;

}

.imagefromalbum{
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-width: 200px;
  min-height: 140px ;
  border-radius: 10px;
  display: flex;
  margin: 5px 10px;
  background-color: #d3d3d3;
  transition: all 0.5s ;
}

.imagefromalbum{
  height: 100%
}

.imageitem{
  position: relative;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-width: 200px;
  min-height: 150px ;
  max-height: 160px;
  border-radius: 10px;
  display: flex;
  margin: 15px 10px;
  background-color: #d3d3d3;
  transition: all 0.5s ; 
  padding-bottom: -10px;
}

.imageitem  div{
  margin-top: 5px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  background-color: #f5f3f4;
  background-position: center;
  background-size: cover;
}

.imageitem img{
  width: 10px;
  position: absolute;
  opacity: 0;
  top: -30px;
  right: 15px;
  /* border: 1px solid black; */
  /* display: none; */

  /* opacity: 0; */
}

.imageitem img:first-child{
  right: 60px;
}

.imageformmain{
  height: 42vh;
  width: 65%;
  padding: 0px 20px;
  padding-top: 10px ;
  margin: 40px 10px ;
  text-align: left;
  border-radius: 20px;
  background-color: #d3d3d3;
  box-shadow: 2px 2px 9px -1px grey;
  position: relative;
  left: 50%;
  transform: translate(-50%);

}


.imageinputNbuttons{
  margin-top: 10px;
  width: 100%;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.imagename{
  width: 80%;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 18px;
  border: none;
  background-color: #f5f3f4;
  outline: none;
}
.imageurl{
  width: 80%;
  margin-top: 18px;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 18px;
  border: none;
  background-color: #f5f3f4;
  outline: none;
}

.imageclearbutton , .imagecreatebutton {
  color: white;
  border: none;
  margin-top: 15px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #a5f92f;
  padding: 0px 20px ;
  box-shadow: 2px 2px 9px -1px grey;
  border-radius: 10px;
}

.imageclearbutton{
  background-color: #e5383b;
  /* display: inline; */
}

.hoveredimageitem img {
  /* display: block ; */
  opacity: 1  ;
  width: 40px ;
  top: -10px;
  transition: top 0.1s ease-in-out ;

}