.App {
  text-align: center;
}

.navbarmaindiv {
  /* border: 1px solid black; */
  width: 100%;
  height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ccd5ae;
}

.navicon {
  height: 90%;
  position: absolute;
  left: 6%;
}

.navtitle {
  position: absolute;
  left: 10%;
  /* font-family: 'Lugrasimo', cursive; */
  font-family: 'Tektur', cursive;
}